* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
:root {
    --white-color: #fff; 
}
html {
    height: 100%;
    width: 100%;
}
ul {
    list-style: none;
}
body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr;
}

/* Header */

.header {
    grid-column: 2 / 3;
    background-color: var(--white-color);
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;
    padding: 10px;
}

.heading img {
    margin: 10px
}
.heading {
    display: flex;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
    background-color: aqua;
    gap: 15px;
}

.your-projects {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 20px 1fr;
}
 h3 {
    font-size: 20px;
    padding-left: 10px;
    text-align: start;
}
svg:hover {
    color:rgb(167, 167, 248)
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 5px;
    padding: 15px 0px;
}
.card {
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    border-left: solid 6px orange;
    display: grid;
    grid-template-rows: 0.9fr 2fr 1fr;
}
 
.card-title {
    font-size: 20px;
    font-weight: 700;

}

.card-icons {
    justify-self: right;
    align-self: end;
}

.side-content  {
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.main-side {
    margin-bottom: 30px;
}
ul li {
    display: flex;
    margin: 20px 0px;
    align-items: center;
}
ul li svg {
    margin-right: 10px;
}
ul li h2 {
    font-size: 20px;
}
ul li svg:hover {
    color: #fff;
}
ul li:hover {
    color: #fff;
}
.main-sidebar {
    display: grid;
    grid-template-rows: 30px 3fr 20px 30px 2.5fr; 
}
.announcements {
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
    grid-row: 2 / 3;
    margin: 10px 0px;
}

.announcements-content:nth-of-type(2) , .announcements-content:nth-of-type(1) {
    box-shadow:   0px 1px rgba(0, 0, 0, 0.4);
}
.announcements-content h2{
    font-size: 15px;
    padding: 15px 0px 5px 0px;
}
.announcements-content p {
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.trending {
    background-color: var(--white-color);
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px; 
    grid-row:  5 / 6; 
    display: grid;
    grid-template-rows: repeat(4 , 1fr);
}

.trending-item {
    display: flex;
    align-self: center;
}
.trending-item img {
    height: 30px;
    width: 30px;
    margin-right: 7px;
}
.trending-title {
    grid-row: 4 /5;
}
.trending p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.input input {
    width: 600px;
    padding: 8px;
    border-radius: 15px;
    background-color: rgba(184, 184, 184, 0.3);
    border: none;
}
.input svg{
    font-size: 15px;
}
.user-heading, .upper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.header .upper .user img {
    height: 35px;
    width: 35px;
}
.user-heading button {
    padding: 10px 25px;
   background-color: rgb(145, 182, 220);
    border: none;
    border-radius: 15px; 
    color: var(--white-color);
}
.user-heading button:hover {
    background-color: rgb(93, 93, 234);
}
.user-info {
    display: flex;
}
.user-info img {
    margin-right: 10px;
}

.upper .user {
    display: flex;
    align-items: center;
}
.upper .user img {
    margin: 0px 15px;
}
.upper .user h2 {
    font-weight: 550;
}
.input {
    display: flex;
    align-items: center;
}

.input svg {
    padding-right: 5px;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.trending-item h5:hover {
    color: rgb(125, 140, 138);
}

.user h2:hover {
    color: rgb(125, 140, 138);
}

.user-info .info h1:hover {
    color: rgb(125, 140, 138);
}